@charset 'utf-8';

@import 'settings';
@import 'foundation';

@include foundation-grid;
@include foundation-pagination;
@include foundation-table;

.ce-table {
  border-collapse: collapse;
  caption {
    background: $white;
    border: 1px solid #f3f3f3;
    padding: rem-calc(10 0);
    font-size: 120%;
  }

  td, th {
    width: 10%;
    border-bottom: 2px solid #f3f3f3;
  }

  tr:last-child td {
    border-bottom: none;
  }

  th:nth-child(1), td:nth-child(1) {
    width: 25%;
  }

  th:last-child, td:last-child {
    width: 15%;
  }
}

#footer .contenttable {
  border-collapse: initial;

  tbody, tr, td, th {
    background: none;
    padding: 0;
  }
}

.column {
  padding: rem-calc(2);
}
