<f:layout name="Default" />

<f:section name="Header">
    <f:format.raw>{slider}</f:format.raw>
</f:section>

<f:section name="Main">
    <div id="content">
        <div id="two-column-left">
            <f:cObject typoscriptObjectPath="lib.menu" />
        </div>
        <div id="two-column-right">
            <f:format.raw>{contentMain}</f:format.raw>
        </div>
    </div>
    <div class="clear"></div>
</f:section>