{namespace gg=TYPO3\GenericGallery\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <div class="row small-up-3 medium-up-3 large-up-3">
        <f:for each="{collection}" as="item" iteration="iterator">
            <div class="column">
                <f:render partial="GalleryItem/Image" arguments="{_all}" />
            </div>
        </f:for>
    </div>
</f:section>