{namespace gg=TYPO3\GenericGallery\ViewHelpers}

<f:layout name="Slider" />

<f:section name="main">
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$('.royalSlider').royalSlider({
						arrowsNavAutoHide: false,
						imageScaleMode: 'fill',
						keyboardNavEnabled: true,
						loop:true,
						randomizeSlides: false
			 });
		});
	</script>
	<div class="royalSlider rsMinW" id="fs-{uid}">
		<f:for each="{collection}" as="item" iteration="iterator">
			<div class="rsContent">
				<f:render partial="SlideshowImage" arguments="{_all}" />
				<div class="infoBlock rsABlock">
					<f:if condition="{item.imageReference}">
						<f:then>
							<h1>
								{item.imageReference.originalResource.properties.title}
							</h1>
							<p>
								{item.imageReference.originalResource.properties.description}
							</p>
						</f:then>
					</f:if>
				</div>
			</div>
		</f:for>
	</div>
</f:section>