<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
    data-namespace-typo3-fluid="true">

<f:layout name="Detail.html" />

<!--
  =====================
    News/Detail.html
-->


<f:section name="content">
  <div class="news-single-item">
    <f:if condition="{newsItem}">
      <f:then>
        <n:format.nothing>
          <n:excludeDisplayedNews newsItem="{newsItem}" />
          <f:if condition="{newsItem.alternativeTitle}">
            <f:then>
              <n:titleTag>
                <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
              </n:titleTag>
            </f:then>
            <f:else>
              <n:titleTag>
                <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
              </n:titleTag>
            </f:else>
          </f:if>
          <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
        </n:format.nothing>
        <div class="header">
          <h2>{newsItem.title}</h2>
        </div>
        <div class="footer">
          <p>
            <!-- date -->
            <span class="news-list-date">
              <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
            </span>
            
            <f:if condition="{newsItem.tags}">
              <!-- Tags -->
              <span class="news-list-tags">
                <f:for each="{newsItem.tags}" as="tag">
                  {tag.title}
                </f:for>
              </span>
            </f:if>
          </p>
        </div>
        <f:if condition="{newsItem.teaser}">
          <!-- teaser -->
          <div class="teaser-text">
            <f:format.html>{newsItem.teaser}</f:format.html>
          </div>
        </f:if>
        
        <f:if condition="{newsItem.contentElements}">
          <!-- content elements -->
          <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
        </f:if>

        <!-- main text -->
        <div class="news-text-wrap">
          <f:format.html>{newsItem.bodytext}</f:format.html> 
        </div>

        <f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
      
        <f:if condition="{newsItem.falRelatedFiles}">
          <!-- FAL related files -->
          <div class="news-related news-related-files">
            <h4>
              <f:translate key="related-files" />
            </h4>
            <ul>
              <f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
                <li>
                  <span class="news-related-files-link">
                    <a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
                      {f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
                    </a>
                  </span>
                  <span class="news-related-files-size">
                    {relatedFile.originalResource.size -> f:format.bytes()}
                  </span>
                </li>
              </f:for>
            </ul>
          </div>
        </f:if>
        
        <f:if condition="{newsItem.relatedLinks}">
          <!-- Related links -->
          <div class="news-related news-related-links">
            <h4>
              <f:translate key="related-links" />
            </h4>
            <ul>
              <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                <li>
                  <f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.page>
                  <f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
                </li>
              </f:for>
            </ul>
          </div>
        </f:if>
        
        <div class="news-single-footer">
        <f:if condition="{settings.backPid}">
          <!-- Link Back -->
          <div class="news-single-backlink">
            <f:link.page pageUid="{settings.backPid}">
              <f:image src="EXT:tvw_website_distribution/Resources/Public/Images/news/back.jpg" alt="{f:translate(key:'back-link')}"/>
              
            </f:link.page>
          </div>
        </f:if>
        </div>
      </f:then>
    </f:if>
  </div>
</f:section>
</html>