<div id="wrapper">
    <div id="main" class="clearfix">
        <div id="header">
            <f:cObject typoscriptObjectPath="lib.topmenu" />
            <f:render section="Header" />
            <div id="slidemenu">
                <f:cObject typoscriptObjectPath="lib.slidemenu" />
            </div>
        </div>
        <div id="mediumbar">
            <div id="label">
                <f:cObject typoscriptObjectPath="lib.label" />
            </div>
            <f:cObject typoscriptObjectPath="lib.breadcrumb" />
            <div id="search">
            </div>
        </div>
        <f:render section="Main" />
    </div>
</div>
<div id="footer">
    <div id="contact">
        <f:cObject typoscriptObjectPath="lib.contact" />
    </div>
    <div id="office">
        <f:cObject typoscriptObjectPath="lib.office" />
    </div>
    <div id="about">
        <f:cObject typoscriptObjectPath="lib.about" />
    </div>
</div>