<f:if condition="{media}">
  <!-- fal media files -->
    <div class="row small-up-3 medium-up-3 large-up-3">
        <f:for each="{media}" as="mediaElement">
            <f:if condition="{mediaElement.originalResource.type} == 2">
              <f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
            </f:if>
            <f:if condition="{mediaElement.originalResource.type} == 4">
              <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
            </f:if>
        </f:for>
      </div>
</f:if>


