<div class="mediaelement" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <div class="mediaelement-video">
    <f:media file="{mediaElement}" width="{settings.detail.media.video.width}" height="{settings.detail.media.video.height}" />
  </div>

  <f:if condition="{mediaElement.description}">
    <div class="medialement-alternative-content">
      <p class="news-img-caption">
        {mediaElement.description}
      </p>
    </div>
  </f:if>
</div>
