<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    data-namespace-typo3-fluid="true">
<!--
  =====================
    Partials/List/Item.html
-->
<div class="news-latest-item-{f:if(condition: '{iterator.isEven}', then: 'even', else: 'odd')} article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
  <n:excludeDisplayedNews newsItem="{newsItem}" />
  <h2>
    <n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link>
  </h2>
  <span class="news-latest-date">Eingestellt am: <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date></span><br />
  <f:if condition="{newsItem.falMediaPreviews}">
    <f:then>
      <f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
        <f:if condition="{mediaElement.originalResource.type} == 2">
          <div class="news-latest-item-image">
            <f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="120" height="120c-100" />
          </div>
        </f:if>
      </f:alias>
    </f:then>
  </f:if>
  <div class="news-latest-item-teaser">
    <f:if condition="{newsItem.teaser}">
      <f:then>
        <f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop></f:format.html>
      </f:then>
      <f:else>
        <f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
      </f:else>
    </f:if>
  </div>
  <f:if condition="{newsItem.type} == 0">
    <div class="news-latest-more">
      <p><n:link newsItem="{newsItem}" settings="{settings}">
        <f:image src="EXT:tvw_website_distribution/Resources/Public/Images/news/more.gif" alt="more" />
        </n:link></p>
    </div>
  </f:if>
  <div class="news-latest-item-{f:if(condition: '{iterator.isEven}', then: 'even', else: 'odd')}-bottom"></div>
</div>
</html>