html, body {
    height: 100%;
    font-family: Tahoma, Geneva, Helvetica, sans-serif;
    font-size: 12px;
    background: #e5e5ea;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 26px;
    color: #4c4c50;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    color: #5b5b60;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    color: #69696d;
    font-weight: normal;
}

h4 {
    font-size: 14px;
    color: #717175;
    font-weight: normal;
    padding: 0 0 10px 5px;
}

p {
    color: #29292e;
}

p a:link, p a:visited {
    color: #3b3b41;
    text-decoration: none;
    border-bottom: 1px dotted #3b3b41;
}

ul {
    color: #29292e;
}

table p {
    width: auto !important;
}

hr {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px 0 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

a:link, a:visited {
    color: #215667;
    text-decoration: none;
    border-bottom: 1px dotted #215667;
}

a:hover {
    text-decoration: none;
    border-bottom: none;
}

a img {
    border: none !important;
}

.csc-textpic-imagewrap a {
    border: none;
}

.csc-textpic-intext-left ol, .csc-textpic-intext-left ul {
    overflow: hidden !important;
}

/*----------Grundgerüst----------*/
#wrapper {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #dddddd;
}

body > #wrapper {
    height: auto;
    min-height: 100%;
}

#main {
    padding-bottom: 320px;
}

#header {
    width: 1018px;
    height: 338px;
    background: url(../Images/header.jpg) no-repeat;
    clear: both;
}

#footer {
    width: 1020px;
    position: relative;
    margin: -320px auto;
    height: 320px;
    clear: both;
    background: url(../Images/footer-bg.gif) repeat-x;
    color: #777676;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.clear {
    width: 100%;
    clear: both;
    padding: 8px 0 0 0;
}

* html .clearfix {
    height: 1%;
}

/*----------Header----------*/
#topmenu {
    display: block;
    list-style-type: none;
    overflow: auto;
    position: relative;
    left: 200px;
    top: 20px;
    width: 775px;
    margin-bottom: 15px;
}

#topmenu li {
    float: left;
    background: url(../Images/menu-separator.gif) no-repeat;
    background-position: right center;
    padding: 7px 15px 7px 15px;
}

#topmenu li.last {
    background: none;
}

#topmenu a {
    border: none !important;
}

#topmenu a img {
    border: none !important;
}
/*----------Footer----------*/
#footer p {
    color: #6b6b6b;
}

#footer a {
    color: #6b6b6b;
}

#contact {
    width: 255px;
    height: 300px;
    float: left;
    background: url(../Images/footer-separator.jpg) no-repeat;
    background-position: right center;
    padding: 10px 0 0 40px;
    box-sizing: content-box;
}

#contact dt {
    font-size: 5px;
}

#office {
    width: 320px;
    height: 300px;
    float: left;
    background: url(../Images/footer-separator.jpg) no-repeat;
    background-position: right center;
    padding: 10px 0 0 40px;
}

#office td {
    color: #6b6b6b;
    padding-left: 3px;
}

#about {
    width: 325px;
    height: 300px;
    float: left;
    padding: 10px 0 0 40px;
}

/*Slideshow*/
#slideshow {
    width: 800px;
    height: 180px;
    position: relative;
    left: 208px;
    top: 34px;
    overflow: hidden;
}

#slideshow .royalSlider {
    width: 100%;
    height: 180px;
}

#slideshow h1 {
    color: #ffffff;
    padding: 15px 0 0 20px;
}

#slideshow p {
    color: #ffffff;
    padding: 0 0 0 20px;
}

/*Slidemenu*/
#slidemenu {
    width: 804px;
    height: 72px;
    position: relative;
    left: 206px;
    top: 34px;
    cursor: pointer;
    overflow: hidden;
    clear: both;
}

#slidemenu ul {
    width: 804px;
    height: 72px;
    list-style-type: none;
    overflow: hidden;
}

#slidemenu ul li {
    width: 372px;
    height: 72px;
    float: left;
    position: absolute;
    z-index: 10;
}

#slidemenu ul li a {
    width: 372px;
    height: 72px;
    display: block;
    float: left;
    position: absolute;
    z-index: 15;
    text-decoration: none;
    border: none;
}

#slidemenu ul li.first {
    width: 300px;
    left: 0px;
    background: url(../Images/slidemenu/label.jpg) no-repeat;
}

#slidemenu ul li#slide-1 {
    left: 300px;
    background: url(../Images/slidemenu/athletics.jpg) no-repeat;
}

#slidemenu ul li#slide-2 {
    left: 372px;
    background: url(../Images/slidemenu/handball.jpg) no-repeat;
}

#slidemenu ul li#slide-3 {
    left: 444px;
    background: url(../Images/slidemenu/volleyball.jpg) no-repeat;
}

#slidemenu ul li#slide-4 {
    left: 516px;
    background: url(../Images/slidemenu/basketball.jpg) no-repeat;
}

#slidemenu ul li#slide-5 {
    left: 588px;
    background: url(../Images/slidemenu/dancing.jpg) no-repeat;
}

#slidemenu ul li#slide-6 {
    left: 660px;
    background: url(../Images/slidemenu/gymnastics.jpg) no-repeat;
}

#slidemenu ul li#slide-7 {
    left: 732px;
    background: url(../Images/slidemenu/tabletennis.jpg) no-repeat;
}

#slidemenu ul li div {
    width: 320px;
    float: left;
    padding: 0 0 0 72px;
    /*position: absolute;*/
    z-index: 5;
}

#slidemenu ul li h1 {
    font-size: 18px;
    font-weight: normal;
    color: #4d4d52;
    padding: 2px 0 0 8px;
    margin: 0;
}

#slidemenu ul li p {
    clear: both;
    padding: 3px 0 0 8px;
    color: #4d4d52;
}

#mediumbar {
    width: 1018px;
    height: 48px;
    background: url(../Images/mediumbar.jpg) no-repeat;
    clear: both;
    padding: 2px 0 0 12px;
}

/*Label*/
#label {
    width: 185px;
    height: 32px;
    float: left;
    margin: 0 20px 0 0;
}

/*Breadcrumb*/
#breadcrumb {
    width: 510px;
    background: url(../Images/breadcrumb/breadcrumb-home.gif) no-repeat;
    background-position: left 15px;
    float: left;
    list-style-type: none;
    padding: 12px 0 0 20px;
}

#breadcrumb li {
    float: left;
    color: #ffffff;
    font-size: 11px;
}

#breadcrumb li.separator {
    width: 20px;
    background: url(../Images/breadcrumb/arrow.gif) no-repeat;
    background-position: center center;
}

#breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
}

/*Search*/
#search {
    width: 265px;
    height: 29px;
    float: left;
    padding: 3px 0 0 0;
    margin: 4px 0 0 0;
}

#search input.text {
    width: 230px;
    height: 28px;
    line-height: 28px;
    border: none;
    background: none;
    color: #95959c;
    padding: 0 8px 0 10px;
    float: left;
}

#search input.submit {
    position: relative;
    float: left;
    margin: 7px 0 0 12px;
}

/*Content*/
#content {
    width: 1020px;
    clear: both;
}

/*Navigation*/
#menucontainer {
    width: 201px;
    min-height: 500px;
    background: url(../Images/menu/menu-bg.jpg) no-repeat;
    background-position: top;
    padding: 20px 0 0 4px;
}

#menu {
    width: 205px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: block;
    margin: 0 0 1px 0;
    padding: 0;
}

#menu li a {
    width: 195px;
    height: 25px;
    background: url(../Images/menu/level1.jpg) no-repeat;
    display: block;
    border: 1px solid #efeff5;
    color: #5f5f62;
    text-decoration: none;
    padding: 1px 0 0 26px;
    font-size: 13px;
}

#menu li a:hover {
    background: url(../Images/menu/level1active.jpg) no-repeat;
}

#menu li a.active, #menu li a.active:hover {
    background: url(../Images/menu/level1open.jpg) no-repeat;
}

#menu li.menu-level2 ul {
    padding: 0;
    margin: 0;
}

#menu li.menu-level2 a {
    width: 195px;
    background: url(../Images/menu/level2.jpg) no-repeat;
    color: #7e7e7e;
    font-size: 12px;
    padding: 2px 0 0 36px;
}

#menu li.menu-level2 a:hover {
    background: url(../Images/menu/level2active.jpg) no-repeat;

}

#menu li.menu-level2 a.active, #menu li.menu-level2 a.active:hover {
    background: url(../Images/menu/level2open.jpg) no-repeat;
}

#menu li.menu-level3 {
    width: 158px;
    border: 1px solid #efeff5;
    padding: 4px 0 0px 35px;
    clear: both;
    background: url(../Images/menu/level3.jpg) no-repeat #ffffff;
    background-position: bottom;
}

#menu li.menu-level3 a {
    background: url(../Images/menu/level3.gif) no-repeat;
    background-position: 0px 4px;
    border: none;
    padding: 0;
    color: #9d9d9e;
    padding: 0 0 0 11px;
    font-size: 12px;
}

#menu li.menu-level3 a:hover {
    background: url(../Images/menu/level3.gif) no-repeat;
    background-position: 0px 4px;
    text-decoration: underline;
}

/*Übungsplan*/
table.tvw-table {
    width: 100%;
    border-left: 1px solid #e2e2e3;
    border-collapse: collapse;
    margin: 0 0 15px 0;
}

table.tvw-table caption {
    text-align: left;
    font-size: 20px;
    color: #5b5b60;
    padding: 0 0 10px 5px;
}

table.tvw-table th {
    font: bold 12px Tahoma, Geneva, Helvetica, sans-serif;
    color: #4d4d52;
    border-right: 1px solid #e2e2e3;
    border-bottom: 1px solid #e2e2e3;
    border-top: 1px solid #e2e2e3;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 8px;
    margin: 0px;
    background: #cae8ea url(../Images/content/table_default_header.jpg) no-repeat;
}

table.tvw-table td {
    border-right: 1px solid #e2e2e3;
    border-bottom: 1px solid #e2e2e3;
    background: #ffffff;
    padding: 6px 6px 6px 12px;
    margin: 0px;
    color: #4d4d52;
    word-wrap: break-word;
}

table.tvw-table td.td-0 {
    width: 152px;
    padding: 6px 6px 6px 12px;
}

table.tvw-table td.td-1, table.tvw-table td.td-2, table.tvw-table td.td-3, table.tvw-table td.td-4, table.tvw-table td.td-5, table.tvw-table td.td-6 {
    width: 62px;
    padding: 6px 6px 6px 12px;
}

table.tvw-table td.td-7 {
    width: 122px;
    padding: 6px 6px 6px 12px;
}
/*News*/
.news .footer {
    border: none;
    margin: 0;
}

.news-latest-container {
    width: 505px;
    height: auto;
    clear: both;
}

.news-latest-item-even {
    width: 505px;
    background: url(../Images/news/list-item-even-background.jpg) repeat-y;
    padding: 0 !important;
    margin: 0 0 8px 0;
    clear: both;
    position: relative;
}

.news-latest-item-even-bottom {
    background: url(../Images/news/list-item-even-bottom.jpg) no-repeat;
    width: 505px;
    height: 7px;
    clear: both;
    font-size: 1px;
}

.news-latest-item-odd {
    width: 505px;
    background: url(../Images/news/list-item-odd-background.jpg) repeat-y;
    padding: 0 !important;
    margin: 0 0 8px 0;
    clear: both;
    position: relative;
}

.news-latest-item-odd-bottom {
    background: url(../Images/news/list-item-odd-bottom.jpg) no-repeat;
    width: 505px;
    height: 7px;
    clear: both;
    font-size: 1px;
}

.news-latest-item-even h2 {
    background: url(../Images/news/list-item-even-head.jpg) no-repeat;
    padding: 8px 60px 0 10px !important;
    font-size: 18px;
}

.news-latest-item-odd h2 {
    background: url(../Images/news/list-item-odd-head.jpg) no-repeat;
    padding: 8px 60px 0 10px !important;
    font-size: 18px;
}

.news-latest-item-even h2 a, .news-latest-item-odd h2 a {
    text-decoration: none;
    color: #5b5b60;
    border: none !important;
}

.news-latest-date {
    font-size: 11px;
    color: #29292e;
    padding: 0 0 0 12px;
    font-style: italic;
}

.news-latest-item-even .news-latest-item-image {
    margin: 10px 10px 0 10px;
    float: left;
    border: 2px solid #ededed;
}

.news-latest-item-odd .news-latest-item-image {
    margin: 10px 10px 0 10px;
    float: left;
    border: 2px solid #fff;
}

.news-latest-item-teaser {
    width: auto !important;
    display: block;
    /*padding: 0 10px 10px 0 !important;*/
}

.news-latest-item-teaser p {
    width: auto !important;
    padding: 0 !important;
}

.news-latest-item-even p, .news-latest-item-odd p {
    width: 485px !important;
    display: block;
    padding: 8px 0 0 10px !important;
}

.news-latest-more a {
    width: 101px;
    height: 23px;
    display: block;
    position: relative;
    left: 385px;
    clear: both;
    text-decoration: none;
    border: none !important;
}

.news-latest-collapse {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 10px;
    right: 5px;
}

.news-single-item h3 {
    font-size: 14px;
    color: #5b5b60;
    font-weight: bold;
    padding: 8px 0 10px 5px;
}

.news-single-item h2 {
    padding: 0 0 2px 5px;
}

.news-single-images {
    float: right;
}

.news-single-img {
    padding: 2px;
    float: right;
    margin: 0 0 15px 15px;
    /*background: #fcb92b;*/
}

.news-single-img a {
    border: none;
}

.news-single .article .news-img-wrap {
    float: none;
    margin: 0px;
    width: auto;
}

.mediaelement.mediaelement-image {
    float: left;
    padding: 0 5px 5px 0;
}

.news-single-imgcaption {
    width: 230px !important;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 0 5px 0 !important;
}

.news-single-imgcaption span {
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}

.news-date {
    font-size: 11px;
    color: #29292e;
    padding: 0 0 0 5px;
    font-style: italic;
}

.news-single-files {
    margin: 0 0 5px 0;
}

.news-single-files dt {
    margin: 0 0 5px 0;
}

.news-single-files dd img {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.news-single-files a:link, .news-single-files a:visited {
    color: #29292e;
    text-decoration: none;
    border-bottom: 1px dotted #29292e;
}

.news-single-files a:hover {
    border-bottom: none;
}

.news-single-backlink {
    clear: both;
    padding-top: 5px;
}

.news-single-backlink a {
    border: none !important;
}

.news-single-footer {
    min-height: 67px;
    background: url(../Images/news/single-footer-bg.jpg) repeat-x;
    background-position: top;
    clear: both;
    padding: 12px 15px 0 15px;
    margin: 6px 0 0 0;
}

ul.news-amenu {
    width: 205px;
    list-style-type: none;
}

ul.news-amenu li {
    display: block;
    margin: 0 0 1px 0;
}

ul.news-amenu li a {
    width: 167px;
    height: 18px;
    background: url(../Images/menu/level1.jpg) no-repeat;
    display: block;
    border: 1px solid #efeff5;
    color: #5f5f62;
    text-decoration: none;
    padding: 5px 0 0 26px;
    font-size: 13px;
}

.news-single-item-linkcontainer, .news-single-item-filecontainer, .news-single-item-relatedcontainer {
    padding-top: 15px;
}

.news .page-navigation p {
    float: left;
}

.news .page-navigation ul {
    float: right;
}

.news .page-navigation ul li {
    float: left;
    display: block;
    padding: 0 2px;
    background: none;
}

.news .page-navigation ul li a {
    display: block;
}

/*Calendar*/
.month-small-container {
    width: 198px;
    display: block;
    padding: 8px 0 0 1px;
    margin-left: 5px;
    clear: both;
    position: relative;
    border: 1px solid #ffffff;
    background-color: #f8f8f8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 3px #c5c5c5;
    -webkit-box-shadow: 0px 0px 3px #c5c5c5;
    box-shadow: 0px 0px 3px #c5c5c5;
}

table.month-small {
    width: 195px;
    height: 129px;
    font-size: 11px;
    color: #848484;
    border-collapse: collapse;
}

table.month-small th.sideback a {
    text-decoration: none;
    color: #848484;
}

table.month-small td, table.month-small td {
    width: 24px;
    text-align: center;
    padding: 2px 0 2px 0;
}

.monthOff, .monthOff a {
    color: #bebebe;
}

.month-weeknums {
    border-right: 1px solid #e8e8e9;
}

.month-weekdays {
    border-bottom: 1px solid #e8e8e9;
}

.monthCorner {
    border-bottom: 1px solid #e8e8e9;
}

.monthCurrentWeek {
    background: #fefdfd;
}

.monthToday {
    background: #ffad00;
    color: #ffffff;
}

.month-large-container {
    width: 742px;
    padding: 15px 0 10px 10px;
    margin: 5px 0 5px 0;
    clear: both;
    position: relative;
    border: 1px solid #ffffff;
    background-color: #f8f8f8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 3px #c5c5c5;
    -webkit-box-shadow: 0px 0px 3px #c5c5c5;
    box-shadow: 0px 0px 3px #c5c5c5;
}

#month-header-prevnext {
    float: left !important;
    margin: 0 auto;
}

#month-header-prevnext a {
    text-decoration: none;
}

#month-header-prevnext span {
    color: #848484;
    padding: 0 15px 20px 15px;
    margin: 0 0 1px 0;
}

.month-large {
    color: #848484;
    border-collapse: collapse;
}

.month-large td {
    border: 1px solid #e8e8e9;
}

.month-large .dayNum {
    width: 95px;
    height: 96px;
    vertical-align: top;
    text-align: right;
    padding: 4px 5px 0 0;
}

.month-large th, .month-large td {
    text-align: center;
    padding: 2px 0 2px 0;
}

.month-large .month-weeknums {
    padding: 0 4px 0 0;
}

.weekday {
    border-bottom: 1px solid #e8e8e9;
}

.V9 {
    font-size: 10px;
}

.cal-event-list h4 {
    padding: 0 0 4px 0;
    margin: 0 0 0 0;
}

.cal-event-listitem {
    width: 259px;
    position: relative;
    border: 1px solid #ffffff;
    background-color: #f8f8f8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 3px #c5c5c5;
    -webkit-box-shadow: 0px 0px 3px #c5c5c5;
    box-shadow: 0px 0px 3px #c5c5c5;
    position: relative;
    border: 1px solid #ffffff;
    background-color: #f8f8f8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 3px #c5c5c5;
    -webkit-box-shadow: 0px 0px 3px #c5c5c5;
    box-shadow: 0px 0px 3px #c5c5c5;
    margin: 0 0 20px 0;
}

.cal-event-listitem p {
    margin: 0 0 0 6px;
    clear: both;
}

.cal-event-footer {
    min-height: 67px;
    background: url(../Images/content/single-footer-bg.jpg) repeat-x;
    background-position: top;
    clear: both;
    padding: 12px 15px 0 15px;
    margin: 6px 0 0 0;
}

.cal-list-event-even {
    width: 505px;
    background: url(../Images/calendar/list-item-even-background.jpg) repeat-y;
    padding: 0;
    margin: 0 0 8px 0;
    clear: both;
    position: relative;
}

.cal-list-event-even h2 {
    width: 505px;
    _width: 505px;
    background: url(../Images/calendar/list-item-even-head.jpg) no-repeat;
    padding: 8px 60px 0 10px;
    font-size: 18px;
}

.cal-list-event-bottom-even {
    background: url(../Images/calendar/list-item-even-bottom.jpg) no-repeat;
    width: 505px;
    height: 7px;
    clear: both;
    font-size: 1px;
}

.cal-list-event-odd {
    width: 505px;
    background: url(../Images/calendar/list-item-odd-background.jpg) repeat-y;
    padding: 0;
    margin: 0 0 8px 0;
    clear: both;
    position: relative;
}

.cal-list-event-odd h2 {
    width: 435px;
    _width: 505px;
    background: url(../Images/calendar/list-item-odd-head.jpg) no-repeat;
    padding: 8px 60px 0 10px;
    font-size: 18px;
}

.cal-list-event-bottom-odd {
    background: url(../Images/calendar/list-item-odd-bottom.jpg) no-repeat;
    width: 505px;
    height: 7px;
    clear: both;
    font-size: 1px;
}

.cal-list-event-even p, .cal-list-event-odd p {
    display: block;
    padding: 8px 10px 0 10px;
}

.cal-list-event-more a {
    width: 101px;
    height: 23px;
    display: block;
    position: relative;
    left: 385px;
    clear: both;
    text-decoration: none;
    border: none !important;
}

.cal-list-event-even h2 a, .cal-list-event-odd h2 a {
    text-decoration: none;
    color: #5b5b60;
}

.tx-cal-controller .timeborder {
    background: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.tx-cal-controller .dayborder {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.tx-cal-controller .dayborder2 {
    border-top: 1px dotted #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.tx-cal-controller .eventbg2 {
    background: #ffad00;
    color: #ffffff;
    padding: 3px;
    border-right: 1px solid #dddddd;
}

.tx-cal-controller .eventbg2 .eventfont .padd {
    padding-left: 5px;
}

.tx-cal-controller .rowOff {
    border-left: 1px dotted #dddddd;
}

.tx-cal-controller .rowOff a {
    border: none !important;
}

.tx-cal-controller .rowToday {
    background: #ffad00;
    color: #ffffff;
}

.tx-cal-controller .rowToday a {
    color: #ffffff;
}

.tx-cal-controller .url {
    border: none !important;
    text-decoration: none;
}

.tx-cal-controller #calendar-event p {
    padding-left: 5px;
}

#two-column-left {
    width: 205px;
    float: left;
    padding: 0;
}

#two-column-right {
    width: 810px;
    float: left;
    padding: 10px 20px 0 15px;
}

#two-column-right p {
    width: 770px;
}

#three-column-left {
    width: 199px;
    _width: 205px;
    float: left;
    padding: 0;
}

#three-column-center {
    width: 525px;
    _width: 545px;
    float: left;
    padding: 0 0 10px 20px;
}

#three-column-center table {
    margin: 5px 0 8px 0;
}

#three-column-center ul {
    padding-bottom: 8px;
}

#three-column-right {
    width: 280px;
    _width: 270px;
    float: left;
    padding: 0 0 0 20px;
}

.tx-genericgallery-pi1 a {
    border: none;
}

.csc-textpic a {
    border: 4px solid #ffffff;
}
