<f:render partial="Header/All" arguments="{_all}"/>
<div class="person">
    <div class="row">
        <div class="small-12 columns">
            <h3>{contact.name}</h3>
            <span>{contact.description}</span>
        </div>
    </div>
    <f:for each="{files}" as="file">
        <div class="row">
            <div class="avatar text-center">
                <f:image image="{file}" alt="{file.properties.alt}" title="{file.properties.title}" width="135c" height="135c" />
            </div>
        </div>
    </f:for>
    <div class="row">
        <div class="small-12 columns">
            <dl>
                <f:if condition="{contact.email}">
                    <dt>E-Mail:</dt>
                    <dd>{contact.email}</dd>
                </f:if>
                <f:if condition="{contact.phone}">
                    <dt>Telefon:</dt>
                    <dd>{contact.phone}</dd>
                </f:if>
            </dl>
        </div>
    </div>
</div>